@model List<mmmSelfservice.Models.TrainingInfo>
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/base.js"></script>
<div class="page-header page-header-light mb-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Training information</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="@Url.Action("../Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="@Url.Action("Index")" class="breadcrumb-item">Training information</a>

            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
        </div>
    </div>
</div>

<br />
<div class="d-flex align-items-start flex-column flex-md-row">
    <!-- Left content -->
    <div class="w-100 order-2 order-md-1">

        <!-- Basic card -->
        <!-- /basic card -->
        <!-- Basic table -->

        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Training Information</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <br />
            <div class="card col-sm-12">
                <div class="content">
                    <div class="datatble-header">

                        <table class="table datatable-show-all">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Training need</th>

                                    <th>Status</th>

                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (mmmSelfservice.Models.TrainingInfo data in Model)
                                {
                                    <tr>
                                        <td>@data.ApplicationNo</td>
                                        <td>@data.need</td>
                                        @if (@data.Status == "Approved")
                                        {
                                            <td><span class="badge bg-success-400">@data.Status</span></td>
                                        }
                                        else if (@data.Status == "Pending Aproval")
                                        {
                                            <td><span class="badge bg-orange-700">@data.Status</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge bg-blue">@data.Status</span></td>
                                        }

                                        <td class="text-center">
                                            <div class="list-icons">
                                                <div class="dropdown">
                                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        @if (data.Status == "New")
                                                        {
                                                            <a href="#modal_form_horizontalTrEdit" data-toggle="modal" onclick="getraining('@data.ApplicationNo')" class="dropdown-item"><i class="icon-pencil7"></i>Edit</a>

                                                            <a href="@Url.Action("sendApproval", new { leaveNo = data.ApplicationNo })" class="dropdown-item"><i class="icon-file-check"></i>Send approval request</a>
                                                        }
                                                        @if (data.Status == "Pending Approval")
                                                        {

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <script type="text/javascript">
                        $('a.edit').on('click', function () {
                            $.ajax({
                                url: this.href,
                                type: 'GET',
                                cache: false,
                                success: function (result) {
                                    $('#myModal').html(result).find('.modal').modal({
                                        show: true
                                    });
                                }
                            });
                        });
                    </script>
                </div>
            </div>

        </div>
        <!-- /basic table -->
        <!-- Form layouts -->
        <!-- /form layouts -->
    </div>
</div>

