
@model mmmSelfservice.Models.imprestRinfoModel



<div class="modal-body">
    <div class="row">
        <div class="col-md-12" data-select2-id="81">
            <div data-select2-id="80">
                <div class="card-header bg-white header-elements-sm-inline">
                    <h6 class="card-title"><i class="icon-reading mr-2"></i> Imprestno No:<text id="pno1" class="text-primary">@Model.No</text></h6>
                    <div class="header-elements">
                        @*<button type="button" class="btn bg-blue btn-sm legitRipple" onclick="editimprest()"><i class="icon-checkmark3 mr-2"></i> Save</button>*@
                        <div class="btn-group">
                            <button type="button" class="btn bg-brown dropdown-toggle legitRipple btn-sm" data-toggle="dropdown" aria-expanded="false">More <i class="icon-menu7 ml-2"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(152px, 38px, 0px);">
                                <a href="#" data-toggle="modal" data-target="#_approvalentries_imprest" class="dropdown-item"><i class="icon-file-check"></i> Approvals</a>
                                <a href="@Url.Action("imprestreq", "imprest",new {no=Model.No})" class="dropdown-item"><i class="icon-file-download"></i> Download</a>
                                @*<a href="@Url.Action("imprestreq", "imprest",new {no=Model.No})" class="dropdown-item"><i class="icon-file-check"></i> Send approval</a>*@
                                @*<a href="#" class="dropdown-item"><i class="icon-folder-remove"></i> Cancel approval</a>
                                <div class="dropdown-divider"></div>*@
                                @*<a href="#" class="dropdown-item"><i class="icon-cancel-circle2"></i> Delele</a>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" data-select2-id="79">

                    <div class="row" data-select2-id="78">
                        <div class="col-md-12">
                            <form action="#" data-select2-id="77">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Fund code:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control">
                                                    <option>@Model.DepartmentCode</option>
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Program code:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control">
                                                    <option>@Model.DirectorateCode</option>
                                                   
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Department:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control">
                                                    <option>@Model.departmentdimension</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Budget lines code:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control" >
                                                    <option>@Model.budgetdminesion</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Budget description:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control" >
                                                    <option>@Model.budgetdescription</option>
                                                   
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Project title:</label>
                                                <div class="col-lg-9">
                                                    <input type="text" id="projectittle10" value="@Model.ProjectTitle" class="form-control" />
                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Misssion proposal No:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control">
                                                    <option>@Model.missionNo</option>
                                                  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Purchase requisition No:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control">
                                                    <option>@Model.purchaseRequisition</option>
                                                    
                                                </select>
                                            </div>
                                        </div>

                                        @*<div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Date:</label>
                                                <div class="col-lg-9">
                                                    <input type="date" id="daterequired3" value="@Model.StartDate" class="form-control" />
                                                </div>
                                            </div>*@


                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Action("requestlinesview","purchase", new { purchaseNo = Model.No })
                                    </div>

                                </div>





                            </form>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="row">
                            @Html.Action("uploadeddocuments", "upload", new { documentNo = Model.No })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script>
    function editimprest() {

        debugger;
        $.ajax({
            type: "POST",
            url: "/Imprest/updatemissionproposal",
            data: '{strategicfocusarea:"' + $('#strategicfocusarea1 option:selected').val() + '", subpillar: "' + $('#subpillar1 option:selected').val() + '", projecttitle:"' + $('#projectittle1').val() + '", country: "' + $('#country1 option:selected').val() + '",county:"' + $('#county1 option:selected').val() + '", dateofactivities: "' + $('#dateofactivity1').val() + '",missionteam:"' + $('#missionteam1').val() + '", invitedmembers: "' + $('#invitedmembers1').val() + '",fundcode:"' + $('#department1 option:selected').val() + '", programcode: "' + $('#programcode1 option:selected').val() + '", no:"'+$('#pno').text()+'" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response.status == true) {


                } else {



                }

            }

        });
    }
    $(document).ready(function () {
        $('#btnUpload11').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload11").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('document', $('#pno1').text());

                $.ajax({
                    url: '/Upload/uploadFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result.message);
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });

</script>
<div class="modal" id="_approvalentries_imprest">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Action("approvalentries", "Home", new { documentNo = Model.No })
        </div>
    </div>
</div>