<div id="modal_backdrop8" class="modal fade" data-backdrop="false" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-3">
                <h5 class="modal-title">Travel authorization card</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" data-select2-id="81">
                        <div data-select2-id="80">
                            <div class="card-header bg-white header-elements-sm-inline">
                                <h6 class="card-title"><i class="icon-reading mr-2"></i> New Travel authorization card:<text id="pno" class="text-primary"></text></h6>
                                <div class="header-elements">
                                    <button type="button" class="btn bg-blue btn-sm legitRipple" onclick="insertimprest()"><i class="icon-checkmark3 mr-2"></i> Save</button>
                                   
                                </div>
                            </div>

                            <div class="card-body" data-select2-id="79">

                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a href="#basic-tab1001" class="nav-link active" data-toggle="tab">General</a></li>
                                    <li class="nav-item"><a href="#basic-tab2002" class="nav-link" data-toggle="tab">Travel details</a></li>
                                    <li class="nav-item"><a href="#basic-tab3003" class="nav-link" data-toggle="tab">Accomodation details</a></li>
                                    <li class="nav-item"><a href="#basic-tab4004" class="nav-link" data-toggle="tab">Meals and incidentals</a></li>
                                    <li class="nav-item"><a href="#basic-tab5005" class="nav-link" data-toggle="tab">Other expenses</a></li>
                                </ul>
                                <div class="row" data-select2-id="78">
                                    <div class="tab-content col-md-12">
                                        <div class="tab-pane  fade active show" id="basic-tab1001">
                                            <div class="col-md-12">
                                                <form action="#" data-select2-id="77">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Purpose:</label>
                                                                <div class="col-lg-9">
                                                                    <input type="text" id="description3" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div style="display:none" class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Fund code:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="programcode3" onchange="loadropdown1('.programcodes', '@Url.Action("budgetdimesion", "imprest")', 'programcode3')">@Html.Action("department")</select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Program code:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="department3" onchange="loadropdown1('.programcodes', '@Url.Action("budgetdimesion", "imprest")', 'department3')">@Html.Action("departmentvalue", "imprest")</select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Budget lines code:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="programcodes form-control" id="budgetdimension1"></select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Date:</label>
                                                                <div class="col-lg-9">
                                                                    <input type="date" id="description3" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Destination</label>
                                                                <div class="col-lg-9">
                                                                    <input type="text" id="destination1" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div style="display:none" class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Budget category:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="budgetdescription1">@Html.Action("budgetdescription", "imprest")</select>
                                                                </div>
                                                            </div>
                                                            <div style="display:none" class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Department:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="departmentdimension1">@Html.Action("departments", "imprest")</select>
                                                                </div>
                                                            </div>




                                                            <div style="display:none" class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Purchase requisition No:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="purchase04">
                                                                        @Html.Action("postedpurchasereq", "purchase")
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div style="display:none" class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Mission proposal No:</label>
                                                                <div class="col-lg-9">
                                                                    <select class="form-control" id="missionno3">
                                                                        @Html.Action("postedmissionproposals", "purchase")
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <br />



                                                    @*<div class="form-group row">
                        <label class="col-lg-3 col-form-label">Attach Mission proposal file:</label>
                        <div class="col-lg-9">
                            <div class="uniform-uploader"><input type="file" class="form-input-styled" data-fouc=""><span class="filename" style="user-select: none;">No file selected</span><span class="action btn bg-pink-400 legitRipple" style="user-select: none;">Choose File</span></div>
                            <span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                        </div>
                    </div>*@



                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="basic-tab2002">
                                            <div class="form-group row">

                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>

                                                                    <th class="col-xs-1">Date</th>
                                                                    <th class="col-xs-1">Departure Time </th>
                                                                    <th class="col-xs-1">Departure Place</th>
                                                                    <th class="col-xs-1">Arrival time</th>
                                                                    <th class="col-xs-1">Arrival place</th>
                                                                    <th class="col-xs-1">Remarks</th>
                                                                    <th class="col-xs-1">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="table5900">
                                                                <tr>
                                                                    <td><input type="date" class="form-control"></td>
                                                                    <td><input type="time" class="form-control"></td>
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="time" class="form-control"></td>
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td class="text-center">
                                                                        <div class="list-icons">
                                                                            <a onclick="addlinetotables('5')" class="list-icons-item"><i class="icon-plus3 font-size-base"></i></a>

                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="basic-tab3003">
                                            <div class="form-group row">

                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>

                                                                    <th class="col-xs-1">Date from </th>
                                                                    <th class="col-xs-1">Date to </th>
                                                                    <th class="col-xs-1">Accomodation catered</th>
                                                                    <th class="col-xs-1">Location of stay/ overnight</th>
                                                                    <th class="col-xs-1">Amount</th>
                                                                    <th class="col-xs-1">No. of nights</th>
                                                                    <th class="col-xs-1">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tables6900">
                                                                <tr>
                                                                    <td><input type="date" class="form-control"></td>
                                                                    <td><input type="date" class="form-control"></td>
                                                                    <td><input type="checkbox" class="form-control"></td>
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="number" class="form-control"></td>
                                                                    <td><input type="number" class="form-control"></td>
                                                                    <td class="text-center">
                                                                        <div class="list-icons">
                                                                            <a onclick="addlinetotables('6')" class="list-icons-item"><i class="icon-plus3 font-size-base"></i></a>

                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="basic-tab4004">
                                            <div class="form-group row">

                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>

                                                                    <th class="col-xs-1">Date </th>
                                                                    <th class="col-xs-1">Location</th>
                                                                    <th class="col-xs-1">Description of the expenses</th>
                                                                    <th class="col-xs-1">Amount </th>
                                                                    <th class="col-xs-1">No. of days</th>
                                                                    
                                                                    <th class="col-xs-1">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tables7900">
                                                                <tr>
                                                                    <td><input type="date" class="form-control"></td>
                                                                   
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="number" class="form-control"></td>
                                                                    <td><input type="number" class="form-control"></td>
                                                                    <td class="text-center">
                                                                        <div class="list-icons">
                                                                            <a onclick="addlinetotables('7')" class="list-icons-item"><i class="icon-plus3 font-size-base"></i></a>

                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="basic-tab5005">
                                            <div class="form-group row">

                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>

                                                                    <th class="col-xs-1">Date </th>
                                                                    <th class="col-xs-1">Description</th>
                                                                    
                                                                    <th class="col-xs-1">Amount </th>
                                                                  
                                                                    <th class="col-xs-1">Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tables8900">
                                                                <tr>
                                                                    <td><input type="date" class="form-control"></td>

                                                                   
                                                                    <td><input type="text" class="form-control"></td>
                                                                    <td><input type="number" class="form-control"></td>
                                                                   
                                                                    <td class="text-center">
                                                                        <div class="list-icons">
                                                                            <a onclick="addlinetotables('8')" class="list-icons-item"><i class="icon-plus3 font-size-base"></i></a>

                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>

           
        </div>
    </div>
</div>
<div id="modal_backdropline" class="modal fade" data-backdrop="false" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Travel authorization lines</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
          
           
           
                <div class="card-body" data-select2-id="79">
                    <div class="row" data-select2-id="78">
                        <div class="col-md-12">
                            <form action="#" data-select2-id="77">
                                <div class="row">
                                    <div class="col-md-12">
                                        

                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Type:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control" id="type" >@Html.Action("expensecategories")</select>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group row">

                                            <label class="col-lg-3 col-form-label">Description:</label>
                                            <div class="col-lg-9">
                                                <input type="text" id="description" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <label class="col-lg-3 col-form-label">Unit cost:</label>
                                            <div class="col-lg-9">
                                                <input type="number" id="unitcost" class="form-control" />
                                                </div>
                                            </div>
                                        <div class="form-group row">

                                            <label class="col-lg-3 col-form-label">Quantity:</label>
                                            <div class="col-lg-9">
                                                <input type="number" id="quantity" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label">Currency code:</label>
                                            <div class="col-lg-9">
                                                <select class="form-control" id="currencies">@Html.Action("currencies")</select>
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <label class="col-lg-3 col-form-label">Total cost:</label>
                                            <div class="col-lg-9">
                                                <input type="number" disabled="disabled" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br />



                                @*<div class="form-group row">
                            <label class="col-lg-3 col-form-label">Attach Mission proposal file:</label>
                            <div class="col-lg-9">
                                <div class="uniform-uploader"><input type="file" class="form-input-styled" data-fouc=""><span class="filename" style="user-select: none;">No file selected</span><span class="action btn bg-pink-400 legitRipple" style="user-select: none;">Choose File</span></div>
                                <span class="form-text text-muted">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
                            </div>
                        </div>*@



                            </form>
                        </div>
                    </div>
                </div>
            <div class="card-footer">
                <button type="button" onclick="addline()" class="btn bg-blue btn-sm legitRipple"><i class="icon-checkmark3 mr-2"></i> Add</button>
            </div>
            </div>
            

        </div>
    </div>




<script>
    function insertimprest() {
        var tables5 = [];
        var tables6 = [];
        var tables7 = [];
        var tables8 = [];

        //var rowdata = row.find("td:eq(0) input[type='text']").val() + '??' + row.find("td:eq(1) input[type='date']").val() + '??' + row.find("td:eq(2) input[type='text']").val() + '??' + row.find("td:eq(3) input[type='number']").val() + '??' + row.find("td:eq(5)").val();
        $("#table5900 tr").each(function () {
            var row = $(this);
            //var Statement = {};
            var rowData =
            {
                date: row.find("td:eq(0) input[type='date']").val(),
                departureTime: row.find("td:eq(1) input[type='time']").val(),
                departurePlace: row.find("td:eq(2) input[type='text']").val(),
                arrivalTime: row.find("td:eq(3) input[type='time']").val(),
                arrivalPlace: row.find("td:eq(4) input[type='text']").val(),
                remarks: row.find("td:eq(5) input[type='text']").val()
            };

            tables5.push(rowData);
        });
        $("#tables6900 tr").each(function () {
            var row = $(this);
            var rowData =
            {
                dateFrom: row.find("td:eq(0) input[type='date']").val(),
                dateTo: row.find("td:eq(1) input[type='date']").val(),
                accomodationCatered: row.find("td:eq(2) input[type='checkbox']").val(),
                locationOfStay: row.find("td:eq(3) input[type='text']").val(),
                amount: row.find("td:eq(4) input[type='number']").val(),
                noOfNights: row.find("td:eq(5) input[type='number']").val()
            };


            tables6.push(rowData);
        });
        $("#tables7900 tr").each(function () {
            var row = $(this);
            var rowData =
            {
                date: row.find("td:eq(0) input[type='date']").val(),
                location: row.find("td:eq(1) input[type='text']").val(),
                description: row.find("td:eq(2) input[type='text']").val(),
                amount: row.find("td:eq(3) input[type='number']").val(),
                noOfDays: row.find("td:eq(4) input[type='number']").val()
               
            };


            tables7.push(rowData);
        });
        $("#tables8900 tr").each(function () {
            var row = $(this);
            var rowData =
            {
                date: row.find("td:eq(0) input[type='date']").val(),
                description: row.find("td:eq(1) input[type='text']").val(),
                amount: row.find("td:eq(2) input[type='number']").val()
            };

            tables8.push(rowData);
        });
      //  alert(implines);
        debugger;
        $.ajax({
            type: "POST",
            url: "/Imprest/insertimprestheader",
            data: JSON.stringify({
                ProgramCode: $('#department3 option:selected').val(),
                purpose: $('#description3').val(),
                budgetdminesion: $('#budgetdimension1 option:selected').val(),
                departmentdimension: $('#departmentdimension1 option:selected').val(),
                budgetdescription: $('#budgetdescription1 option:selected').val(),
                missionno: $('#missionno3 option:selected').val(),
                purchaseNo: $('#purchase04 option:selected').val(),
                date: $('#description3').val(),
                Department: $('#destination1').val(),
                TravelDetails: tables5,
                AccomodationDetails: tables6,
                MealsAndIncidentals: tables7,
                OtherExpenses: tables8
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                /// alert("You selected: " + response.AuthSuccess);

                if (response.status == true) {

                    alert('Travel authorization saved successfully');
                    window.location.href = '/Imprest/index';

                } else {



                }

            }

        });
    }

    function addline() {

        var tblstring = '<tr><td>' + $('#type option:selected').val() + '</td><td>' + $('#description').val() + '</td><td>' + $('#unitcost').val() + '</td><td>' + $('#currencies option:selected').val() + '</td><td>' + $('#quantity').val() + '</td><td style="display:none"></td><td style="display:none"></td><td class="text-center"><a href="#" onclick="removeEmptyLine(this)"><i class="icon-cross3 mr-3 icon-2x"></a></i></td></tr>';
       
        $('#tbodyimprestline').append(tblstring)

    }

    function html2json() {
        var json = '{';
        var otArr = [];
        var tbl2 = $('#tbodyimprestline tr').each(function (i) {
            x = $(this).children();
            var itArr = [];
            x.each(function () {
                itArr.push('"' + $(this).text() + '"');
            });
            otArr.push('"' + i + '": [' + itArr.join(',') + ']');
        })
        json += otArr.join(",") + '}'

        return json;
    }

    function addlinetotables(number) {
        if (number == '1') {
            var temp = "<tr><td><input type='text' class='form-control'></td><td class='text-center'><div class='list-icons'><a onclick=addlinetotables(1) class='list-icons-item'><i class='icon-plus3 font-size-base></i></a><a class='list-icons-item'><i class='icon-cross2 font-size-base'></i></a></div></td></tr>";
            $('#msobjectives').append(temp);
        }
        else if (number == '6') {
            var strVar3 = "";
            strVar3 += " <tr>";
            strVar3 += "<td><input type='date' class='form-control'/></td>";
            strVar3 += "<td><input type='date' class='form-control'/></td>";
            strVar3 += "<td><input type='checkbox' class='form-control'/></td>";
            strVar3 += "<td><input type='text' class='form-control'/></td>";
            strVar3 += "<td><input type='number' class='form-control'/></td>";
            strVar3 += "<td><input type='number' class='form-control'/></td>";
            strVar3 += "<td class='text-center'>";
            strVar3 += "<div class='list-icons'>";
            strVar3 += "<a onclick='addlinetotables(6)' class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a>";
            
            strVar3 += "</div>";
            strVar3 += "</td>";
            strVar3 += "</tr>";
            $('#tables6900').append(strVar3);
        }
        else if (number == '5') {
            var strVar = "";
            strVar += "<tr><td><input type='date' class='form-control'></td>";
           
            strVar += "<td><input type='time' class='form-control'/></td>";
            strVar += "<td><input type='text' class='form-control'/></td>";
            strVar += "<td><input type='time' class='form-control'/></td>";
            strVar += "<td><input type='text' class='form-control'/></td>";
            strVar += "<td><input type='text' class='form-control'/></td>";
            strVar += "<td class='text-center'>";
            strVar += "<div class='list-icons'>";
            strVar += "<a onclick='addlinetotables(5)' class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a>";
            strVar += "</div>";
            strVar += "</td>";
            strVar += "</tr>";
           

            $('#table5900').append(strVar);
        }
        else if (number == '7') {
            var strVar1 = "";
            strVar1 += " <tr>";
            strVar1 += "<td><input type='date' class='form-control'/></td>";
          
            strVar1 += "<td><input type='text' class='form-control'/></td>";
            strVar1 += "<td><input type='text' class='form-control'/></td>";
            strVar1 += "<td><input type='number' class='form-control'/></td>";
            strVar1 += "<td><input type='number' class='form-control'/></td>";
            strVar1 += "<td class='text-center'>";
            strVar1 += "<div class='list-icons'>";
            strVar1 += "<a onclick='addlinetotables(7)' class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a>";
         
            strVar1 += "</div>";
            strVar1 += "</td>";
            strVar1 += "</tr>";
            $('#tables7900').append(strVar1);
        }
        else if (number == '8') {
            var strVar2 = "";
            strVar2+= "<tr>";
            strVar2 += "<td><input type='date' class='form-control'/></td>";
           
           
            strVar2 += "<td><input type='text' class='form-control'></td>";
            strVar2 += "<td><input type='number' class='form-control'></td>";
            strVar2 += "<td class='text-center'>";
            strVar2 += "<div class='list-icons'>";
            strVar2 += "<a onclick='addlinetotables(8)' class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a>";
            strVar2 += "</div>";
            strVar2 += "</td>";
            strVar2 += "</tr>";
            $('#tables8900').append(strVar2);
        }
        else if (number == '2') {
            var temp2 = "<tr><td><input type='text' class='form-control'></td><td class='text-center'><div class='list-icons'><a onclick=addlinetotables(1) class='list-icons-item'><i class='icon-plus3 font-size-base></i></a><a onclick=addlinetotables(2) class='list-icons-item'><i class='icon-cross2 font-size-base'></i></a></div></td></tr>";
            $('#table2').append(temp2);
        }

    }
</script>