@{
    ViewBag.Title = "Home Page";
    Layout = "/views/shared/_Layout.cshtml";
}
@model mmmSelfservice.Models.indexinfo
<div class="page-header page-header-light mb-0">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">

                <a href="@Url.Action("agingReport")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>Imprest statement</span>
                </a>
                <a href="@Url.Action("payslip")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>Pay slip</span>
                </a>
                <a href="@Url.Action("Leaveinformation")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>Leave statement</span>
                </a>
                <a href="@Url.Action("p9report")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>P9 report</span>
                </a>

                <a href="@Url.Action("hrdocuments","home")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>HR documents</span>
                </a>

                <a href="@Url.Action("employeefeedback","home")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>Employee feedback</span>
                </a>
                <a href="@Url.Action("employeegrievances","home")" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default legitRipple">
                    <i class="icon-file-download text-pink-300"></i>
                    <span>Employee grievances</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="@Url.Action("index")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="#" class="breadcrumb-item">Dashboard</a>

            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
        </div>
    </div>
</div>
<br />
<div class="d-md-flex align-items-md-start">
    <!-- Left sidebar component -->
    <div class="sidebar sidebar-light sidebar-component sidebar-component-left bg-transparent border-0 shadow-0 sidebar-expand-md" style="height:100%">
        <!-- Sidebar content -->
        <div class="sidebar-content">
            <!-- Sidebar search -->
            <div class="row">
            <div class="card">
                <div class="card-body text-center">
                    <div class="card-img-actions d-inline-block mb-3">
                        
								<img src="@Session["img"].ToString()" class="img-fluid rounded-thumbnail shadow-1 mb-3" width="150" height="150" alt="">
							
                            
                    </div>
                    <h6 class="font-weight-semibold mb-0"></h6>
                    <span class="d-block text-muted"></span>
                   &nbsp;
                </div>
            </div>
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Appreciation corner
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card-body text-center">
                                <div class="card-img-actions d-inline-block mb-3">

                                    <img src="@Session["imgs"].ToString()" class="img-fluid rounded-thumbnail shadow-1 mb-3" width="150" height="150" alt="">


                                </div>
                                <h6 class="font-weight-semibold mb-0"></h6>
                                <span class="d-block text-muted"></span>
                                &nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="table table-responsive table-stripped">
                                <table>
                                   
                                    <tr>
                                        <td>Title:</td>
                                        <td>@Model.title</td>
                                    </tr>
                                    <tr>
                                        <td>Appreciation:</td>
                                        <td>@Model.summary</td>
                            </tr>

                        </table>
                    </div>
                </div>

            </div>
            </div>
            </div>
        </div>
        <!-- /sidebar content -->
    </div>
    <!-- /left sidebar component -->
    <!-- Right content -->
    
    <!-- /right content -->
   
        <div class="card" style="width:70%">
            <div class="card-header bg-transparent header-elements-inline">
                <h5 class="card-title">Personal information</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">

                    <tbody>
                        <tr>

                            <td>First Name:</td>
                            <td class="text-info">@Model.FirstName</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td>Last Name:</td>
                            <td class="text-info">@Model.LastName</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td>ID Number:</td>
                            <td class="text-info">@Model.IdNumber</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td>Department:</td>
                            <td class="text-info">@Model.Department</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>

                            <td>Designation:</td>
                            <td class="text-info">@Model.Jobid</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            &nbsp;
            <br />
            <br />
<hr/>
            <div class="row">
                <div class="col-sm-12">

                    <!-- Clean blog layout #1 -->
                    <div >
                        <div class="card-header">
                            <h5 class="card-title font-weight-semibold">
                                <a href="#" class="text-default">Organisation notice board</a>
                            </h5>
                        </div>

                        <div class="card-body">

                        </div>

                        <div class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                            @*<ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
                            <li class="list-inline-item">By <a href="#" class="text-muted">Eugene</a></li>
                            <li class="list-inline-item">July 5th, 2016</li>
                            <li class="list-inline-item"><a href="#" class="text-muted">12 comments</a></li>ss
                        </ul>*@

                            <div class="col-md-12">
                                @foreach (var item in Model.notices)
                                {
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <h6 class="text text-green text-muted">@item.date, Department: @item.by</h6>
                                                @item.text
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- /clean blog layout #1 -->

                </div>
            </div>
        </div>

    </div>
    <br />
        <!-- Multi column -->
        <!-- /multi column -->
 

