@model mmmSelfservice.Models.imprestRinfoModel



<div class="modal-body">
    <div class="row">
        <div class="col-md-12" data-select2-id="81">
            <div data-select2-id="80">
                <div class="card-header bg-white header-elements-sm-inline">
                    <h6 class="card-title"><i class="icon-reading mr-2"></i> Payment request form No:<text id="pno" class="text-primary">@Model.No</text></h6>
                    <div class="header-elements">
                        <button type="button" class="btn bg-blue btn-sm legitRipple" onclick="editproporsal10000020()"><i class="icon-checkmark3 mr-2"></i> Save</button>
                        <div class="btn-group">
                            <button type="button" class="btn bg-brown dropdown-toggle legitRipple btn-sm" data-toggle="dropdown" aria-expanded="false">More <i class="icon-menu7 ml-2"></i></button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(152px, 38px, 0px);">
                                
                                <a href="#" data-toggle="modal" data-target="#_approvalentries_mission10" class="dropdown-item"><i class="icon-file-check"></i> Approval comments</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" data-select2-id="79">



                    <div class="row">
                        <div class="col-md-12" data-select2-id="81">
                            <div data-select2-id="80">


                                <div class="card-body" data-select2-id="79">

                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="#basic-tab1" class="nav-link active" data-toggle="tab">General</a></li>

                                    </ul>

                                    <div class="row" data-select2-id="78">
                                        <div class="tab-content col-md-12">
                                            <div class="tab-pane fade active show" id="basic-tab1">
                                                <div class="col-md-12">
                                                    <form action="#" data-select2-id="77">
                                                        <div class="row">
                                                            <div class="col-md-6">



                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Fund code:</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control" id="department101" onchange="loadropdown1('.programcodes', '@Url.Action("budgetdimesion", "imprest")', 'department10')">
                                                                            <option value="@Model.FundCode">@Model.FundCode</option>
                                                                            @Html.Action("department", "imprest")
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Program code:</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control" id="programcode101">
                                                                            <option value="@Model.ProgramCode">@Model.ProgramCode</option>
                                                                            @Html.Action("departmentvalue", "imprest")
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Budget lines code:</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="programcodes form-control" id="budgetdimension1">
                                                                            <option value="@Model.budgetdminesion">@Model.budgetdminesion</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Budget category:</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control" id="budgetdescription1"><option value="@Model.departmentdimension">@Model.departmentdimension</option>@Html.Action("budgetdescription", "imprest")</select>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Department:</label>
                                                                    <div class="col-lg-9">
                                                                        <select class="form-control" id="departmentdimesion1">
                                                                            <option value="@Model.budgetdescription">@Model.budgetdescription</option>
                                                                            @Html.Action("departments", "imprest")
                                                                        </select>
                                                                    </div>
                                                                </div>




                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Date:</label>
                                                                    <div class="col-lg-9">
                                                                        <input type="date" id="dateofactivity101" value="@Model.DateString" class="form-control" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Subject:</label>
                                                                    <div class="col-lg-9">
                                                                        <textarea id="subject" class="form-control">@Model.Subject</textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Ref:</label>
                                                                    <div class="col-lg-9">
                                                                        <textarea id="background1" class="form-control">@Model.Ref</textarea>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div>



                                                        </div>
                                                    </form>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<script>
    function insertproporsal() {

        debugger;
        $.ajax({
            type: "POST",
            url: "/Imprest/updatemissionproposal",
            data: '{strategicfocusarea:"' + $('#strategicfocusarea1 option:selected').val() + '", subpillar: "' + $('#subpillar1 option:selected').val() + '", projecttitle:"' + $('#projectittle1').val() + '", country: "' + $('#country1 option:selected').val() + '",county:"' + $('#county1 option:selected').val() + '", dateofactivities: "' + $('#dateofactivity1').val() + '",missionteam:"' + $('#missionteam1').val() + '", invitedmembers: "' + $('#invitedmembers1').val() + '",fundcode:"' + $('#department1 option:selected').val() + '", programcode: "' + $('#programcode1 option:selected').val() + '", no:"'+$('#pno').text()+'" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                /// alert("You selected: " + response.AuthSuccess);
                if (response.status == true) {
                    window.location.href = '/Imprest/openMissionProposals';
                } else {



                }

            }

        });
    }




  


    function addlinetotables1(number) {
        if (number == '1') {
            var temp = "<tr><td><input type='text' class='form-control'></td> <td style='display:none'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables1(1) class='list-icons-item'><i class='icon-plus3 font-size-base></i></a></div></td></tr>";
            $('#table11').append(temp);
        }
        else if (number == '6') {
            var temp6 = "<tr><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='number' oninput='validateiens(this)' class='form-control'></td><td><input type='number' oninput='validateiens(this)' class='form-control'></td><td><input type='number' oninput='validateiens(this)' class='form-control'></td><td><select class='currencies form-control'>@Html.Raw("currencies")</select></td><td><input type='number' disabled='disabled' class='totalprice1 form-control'></td><td  style='display:none'><input type='number' class='form-control'></td><td><select class='expensecategories form-control'></select></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables(6) class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a></div></td></tr>";
            loadropdown('.currencies', '@Url.Action("currencies")');
            loadropdown('.expensecategories', '@Url.Action("expensecategories")');
            $('#table61').append(temp6);
        }
        else if (number == '5') {
            var temp5 = "<tr><td><input type='date' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables1(5) class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a></div></td></tr>";
            $('#table51').append(temp5);
        }
        else if (number == '4') {
            var temp4 = "<tr><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables1(4) class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a></div></td></tr>";
            $('#table41').append(temp4);
        }
        else if (number == '3') {
            var temp3 = "<tr><td><input type='text' class='form-control'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables1(1) class='list-icons-item'><i class='icon-plus3 font-size-base></i></a></div></td></tr>";
            $('#table31').append(temp3);
        }
        else if (number == '2') {
            var temp2 = "<tr><td><input type='text' class='form-control'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables1(1) class='list-icons-item'><i class='icon-plus3 font-size-base></i></a><a onclick=addlinetotables1(2) class='list-icons-item'><i class='icon-cross2 font-size-base'></i></a></div></td></tr>";
            $('#table21').append(temp2);
        }
        else if (number == '7') {
            var temp7 = "<tr><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td><input type='text' class='form-control'></td><td style='display:none'></td><td class='text-center'><div class='list-icons'><a href='#' class='list-icons-item' onclick='removeEmptyLine(this)'><i class='icon-cross3 font-size-base'></i></a><a onclick=addlinetotables(7) class='list-icons-item'><i class='icon-plus3 font-size-base'></i></a></div></td></tr>";
            $('#table71').append(temp7);
        }

    }


    $(document).ready(function(){
        $('#btnUpload').click(function () {
            debugger;
            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload1").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('document', $('#pno').text() );

                $.ajax({
                    url: '/Upload/uploadFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result.message);
                          LoadData('#docs3', '@Url.Action("uploadeddocuments", "upload", new { documentNo = Model.No })');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });
</script>

<div class="modal" id="_approvalentries_mission10">
    <div class="modal-dialog">
        <div class="modal-content">
            @Html.Action("approvalentries", "Home", new { documentNo = Model.No })
        </div>
    </div>
</div>
