@model mmmSelfservice.Models.imprestRinfoModel

<text style="display:none" id="srno">@Model.No</text>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Fund code:</label>
    <div class="col-lg-9">
        <select class="form-control" id="department301">
            <option>@Model.FundCode</option>

            @Html.Action("departmentvalue", "imprest")
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Program code:</label>
    <div class="col-lg-9">
        <select class="form-control" id="programcode301">
            <option>@Model.ProgramCode</option>
            @Html.Action("department", "imprest")
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Budget dimension:</label>
    <div class="col-lg-9">
        <select class="form-control" id="budgetdimension101">
            <option>@Model.budgetdminesion</option>
            @Html.Action("budgetdimesion", "imprest")
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Budget description:</label>
    <div class="col-lg-9">
        <select class="form-control" id="budgetdescription101">
            <option>@Model.budgetdescription</option>
            @Html.Action("budgetdescription", "imprest")
        </select>
    </div>
</div>
<div class="form-group row">
    <label class="col-lg-3 col-form-label">Department:</label>
    <div class="col-lg-9">
        <select class="form-control" id="departmentdimension101">
            <option>@Model.Department</option>
            @Html.Action("departments", "imprest")
        </select>
    </div>
</div>


<br />
<br />

@Html.Action("imprestsurrenderlines", "ImprestAccounting", new { ImprestNo = Model.No })


<div class="row">
    <div class="row">
        <input type="file" id="FileUpload16" class="form-control" />
        <div class="form-group row">
            <div class="col-md-4">
                <button class="btn" id="btnUpload16">Upload</button>
            </div>
        </div>
        <div class="row">
            <div id="docs2">
                @Html.Action("uploadeddocuments", "upload", new { documentNo = Model.No })
            </div>
        </div>
    </div>

</div>
<script>

    $(document).ready(function () {
        $('#btnUpload16').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#FileUpload16").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append('document', $('#srno').text());

                $.ajax({
                    url: '/Upload/uploadFile',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result.message);
                        LoadData('#docs2', '@Url.Action("uploadeddocuments", "upload", new { documentNo = Model.No })');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });
    });


</script>


