@model List<mmmSelfservice.Models.imprestRinfoModel>
@{
	ViewBag.Title = "Imprest Accounting";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/base.js"></script>
<div class="page-header page-header-light mb-0">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Imprest Accounting information</h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

	</div>
	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="@Url.Action("../Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
				<a href="@Url.Action("Index")" class="breadcrumb-item">Imprest Accounting information</a>

			</div>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
		<div class="header-elements d-none">
		</div>
	</div>
</div>

<br />
<div class="d-flex align-items-start flex-column flex-md-row">
	<!-- Left content -->
	<div class="w-100 order-2 order-md-1">
		<!-- Basic card -->
		<!-- /basic card -->
		<!-- Basic table -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Travel authorization expense</h5>
                        
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
								<a class="list-icons-item" data-action="reload"></a>
								<a class="list-icons-item" data-action="remove"></a>
							</div>
						</div>
					</div>
					<br />
					<div class="card col-sm-12">
                      
						<div class="content">
                            <a class="btn bg-teal-400 btn-labeled btn-labeled-left legitRipple" data-toggle="modal" data-target="#modal_backdrop12"><b><i class="icon-file-plus"></i></b>New travel authorization expense</a>
							<table class="table datatable-show-all">
								<thead>
									<tr>
										<th>No</th>
										<th>Date</th>
										<th>Imp. No</th>
										
										<th>Amount</th>
										<th>Status</th>
										<th>Department</th>
									</tr>
								</thead>
								<tbody>
									@foreach (mmmSelfservice.Models.imprestRinfoModel data in Model)
									{
										<tr>
											<td>@data.No</td>
											<td>@data.Document_Date</td>
											<td>@data.Completed</td>
											
											<td>@data.Amount</td>
                                            @if (@data.Status == "Pending Approval")
                                            {
                                                <td><span class="badge bg-success-400">@data.Status</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge bg-blue">@data.Status</span></td>
                                            }
											<td>@data.DepartmentCode</td>	
                                            <td class="text-center">
                                                <div class="list-icons">
                                                    <div class="dropdown">
                                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                                            <i class="icon-menu9"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            @if (data.Status == "Open")
                                                            {

                                                                <a data-toggle="modal" data-target="#modal_backdrop121" onclick="getimprestsurrender('@data.No')" class="dropdown-item"><i class="icon-file-check"></i>Edit</a>
                                                                @*<a href="@Url.Action("sendforapproval", new { imprestNo = data.No })" class="dropdown-item"><i class="icon-file-check"></i>Send approval request</a>*@
                                                            }
                                                            @if (data.Status == "Pending Approval")
                                                            {
                                                                <a href="@Url.Action("sendforapprovalcancel", new { imprestNo = data.No })" class="dropdown-item"><i class="icon-eraser2"></i>Cancel approval request</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
										
										</tr>
									}
								</tbody>
							</table>


							<div id='myModal' class='modal'>
								<div class="modal-dialog">
									<div class="modal-content">
										<div id='myModalContent'></div>
									</div>
								</div>

							</div>

							<!-- Iconified modal -->
							<div id="modal_Create_line" class="modal fade" tabindex="-1">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Travel authorization expense line</h5>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>

										<div class="modal-body">

										</div>
										<div class="modal-footer">
											<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
											<button class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"></i> Save</button>
										</div>
									</div>
								</div>
							</div>
							<!-- /iconified modal -->
						</div>
					</div>

				</div>
				<!-- /basic table -->
				<!-- Form layouts -->
				<!-- /form layouts -->
			</div>
		</div>
<script>
	document.onload(getLeavesummary());
	Document.getLeavesummary();


	function getimprestsurrender(no){
	    debugger;
	    $.ajax({
	        type: "POST",
	        url: "/ImprestAccounting/imprestsurrenderedit",
	        data: '{no:"' + no + '"}',
	        contentType: "application/json; charset=utf-8",
	        dataType: "html",
	        success: function (response) {
	            debugger;
	            $('#surrendercard').html('');
	            $('#surrendercard').html(response);

	        }

	    });
	}

	

	function sendapproval() {
	    debugger;
	    var no = $('#srno').text();
	    $.ajax({
	        type: "POST",
	        url: "/ImprestAccounting/sendforapproval",
	        data: '{no:"' + no + '"}',
	        contentType: "application/json; charset=utf-8",
	        dataType: "html",
	        success: function (response) {
	            alert('Approval sent successfully');
	            window.location.href = "Imprestaccounting/index";

	        }

	    });
	}

</script>

<div>

</div>

@Html.Partial("newimprestsurrender");
@Html.Partial("imprestsurrendercard");